.row
	.col-md-6.col-md-offset-3
		%h3= titre
		- if current_user && menu
			%p.menus
				- if !my
					= link_to mysongs_path, :class => "btn btn-success" do
						%span.glyphicon.glyphicon-th-list
						My Songs
				-else 
					= link_to songs_path, :class => "btn btn-success" do
						%span.glyphicon.glyphicon-th-list
						All Songs
				= link_to new_song_path, :class => "btn btn-primary" do
					%span.glyphicon.glyphicon-plus
					Add a new Song
- if my 
	-@songs = @songs.order(:name)
- @songs.each do |song|	
	.row.song
		.col-md-6.col-md-offset-3
			.btn-group			
				- if user_signed_in? && current_user.id == song.user_id && my
					=link_to edit_song_path(song), :class => "btn btn-warning" do
						%span.glyphicon.glyphicon-wrench
					%button.btn.btn-danger{:id => dom_id(song)}
						%span.glyphicon.glyphicon-trash

			.btn-group
				=link_to song, :class => "btn btn-primary" do
					%span.glyphicon.glyphicon-music

				%button.btn.btn-primary.dropdown-toggle{"data-toggle" => "dropdown"}
					%span.glyphicon.glyphicon-share-alt
					Playlist
					%span.caret
				%ul.dropdown-menu{:role => "menu", :id => dom_id(song)}
					%li 
						- @notin = []; @in = [];
						- @myplaylists.each do |play|
							- if !play.songs.include?(song)
								- @notin.push(play);
							- else
								- @in.push(play)

						- @notin.each do |play|
							%a.add{:id => dom_id(play)}= play.name
						- if @notin.any? && @in.any?
							.divider
						- @in.each do |play|
							%a.remove{:id => dom_id(play)}
								%span.glyphicon.glyphicon-ok
								= play.name
			%h4=song.name
			%h5=song.artist

				
